@charset "UTF-8";

/* 헤더 css */
.navbar-custom {
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: center;
} 
.navbar-header {
	margin-bottom: 50px;
	margin-right: 100px;
}
.navbar-brand {
	width: 120px;
	height: 80px;
}
  
/* 검색창 */
.container-search { 
  width: 250px;
}

#header {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

} 

.login_register a {
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.7);
} 

.navbar-nav>li>.dropdown-menu {
  margin-top: 15px;
}

body > main > nav {
display : flex;
flex-direction : row;
align-items : center;
}

.nav>li>a {
  padding: 10px 25px;
} 

#custom-collapse > ul {
	margin-bottom: -5px;
}

/* footer css 시작 */
#footer {
    border-top: 1px solid #EAEAEA;
    margin-bottom: 20px;
}

#h3-footer {
    margin-top: 15px;
}

.p-footer {
    margin: 0 -15px 10px;
}

/* footer css 끝 */
