@charset "UTF-8";
/* header css 시작 */
 .navbar-custom {
      height: 100px;
 } 
 
 .search-box {
   display: flex;
   flex-direction: column;
 }

 #header {
   margin-top: 40px;
   height: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-end;
 } 

 .login_register a {
   padding-right: 10px;
   color: rgba(255, 255, 255, 0.7);
 } 

 .navbar-nav>li>.dropdown-menu {
   margin-top: 10px;
 }

 .nav>li>a {
   padding: 10px 25px;
 } 

 #footer {
    border-top: 1px solid #EAEAEA;
    margin-bottom: 15px;
 }

 #h3-footer {
    margin-top: 15px;
 }

 .p-footer {
    margin: 0 -15px 10px;
 }
/* footer css 끝 */