@charset "UTF-8";


.main {
	display: flex;
	flex-direction: column;
}

.module-small {

    display:flex;
    flex-basis: 950px; 
}

.button-container {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
}

.pagination {
	display: flex;
	flex-direction: row;
}	
.navbar-nav {
	margin-bottom: 20px !important;
}	
	
/* cs 공지사항 */

	

