@charset "UTF-8";
html {
    height: 100%;
}
body {

   
}

.main {
	display: flex;
	flex-direction: column;
}
.module-small {
	/* module-small 영역은 남은 공간을 채웁니다. */
    display:flex;
    flex-basis: 950px; 
}



.button-container {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
}

/* 푸터를 페이지 하단에 고정 */


